.part-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse-section {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 766px) {
  .collapse-section {
    flex-direction: column;
  }
  .part-info {
    display: block;
  }
  .part-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
