* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  header,
  main {
    padding: 2em 5em 0 5em;
  }
}

@media screen and (max-width: 766px) {
  body {
    header {
      padding: 1em 2em 0 2em;
    }
    main {
      padding: 1em 1em 0 1em;
    }
  }
}
